#about-me{
    margin-top: 100px;
    margin-bottom: 100px;
}
.school{
  height: 20%;
  width: 20%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
#PU{
}
/* #desk-1{
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */
#EFA{
    
}