form{
    position: relative;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}


#contact{
    margin-top: 100px;
    margin-bottom: 60px;
}
.form{
    position: relative;
    width: 50%;
    height: 40px;
     max-width: 500px;
     box-sizing: border-box;
   
    
     
}
    
.form3{
    word-wrap: break-word;
    content: strict;
    position: relative;
    width: 50%;
    height: 40px;
     max-width: 500px;
     box-sizing: border-box;
   
    
     
}
