footer{ background-color:lightgray;
    margin: 0%;
    padding: 0%;
    background-image: none;
    color: black;

}
.footer{
    background-color: lightgrey;
    margin: 0%;
    padding: 0%;
    background-image: none;
    color: black;


}
