.projects{
    text-align: center;
    display: inline block;
    position: relative;
    margin-top: 150px;
    margin-bottom: 100px;
   
    
}
#p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.row {
    margin: 20px;
  
    
}
.card{
  
    display: inline block;
    text-align: center;

    position: relative;
   
}
.col-3{
    margin-top: 100px;
    margin-left: 100px;
}

